@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  background: white;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.articles {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: stretch;
}

.articleShort {
  display: flex;
  flex: 1 1 0%;
}

.articleMain {
  display: flex;
  flex: 1 1 100%;
}

.card {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: linen;
  margin: 15px;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
}

.card .card-content h3, .card .card-content p {
  max-width: calc(100% - 30px);
  padding-left: 30px;
  padding-right: 30px;
}
.card .card-image {
  min-width: 262px;
  width: stretch;
  max-width: 500px;
  background-color: lightskyblue;
}
.card .card-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .articleShort {
    flex: 1 1 100%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    flex-direction: column;
  }
  .card .card-content h3, .card .card-content p {
    text-align: center;
  }
}
